# General Mac files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Icon?

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Local SonarQube/IDE clutter
.cursor/
*.swp
*.swo
